h1{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 45px;
    font-family: "Calibri";
}

#input{
    padding-left: 110;
    font-size: 20px;
    font-family: "Calibri";
}

#kilom{
    width: 150px;
    font-size:18px;
    
}

#btn{
    padding-left: 190px;
}

button{
    height: 40px;
    width: 40px;
    font-size:17px;
    text-align: center;
}

#result{
    padding-left: 155px;
    font-size: 20px;
    font-family: "Calibri";
}