h1{
    margin:8px;
    padding-left: 60px;
    padding-top: 40px;
    font-size: 50px;
    font-family: "Calibri";
}

#leapYear{
    margin: 0px;
    padding-left: 60px;
    font-size: 23px;
    font-family: "Calibri";
}

